@use '../abstracts/variables';
@use '../abstracts/mixins';

:root {
	/* colors */
	@each $color, $shades in variables.$colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	/* font families */
	--ff-primary: 'Outfit', sans-serif;
	--ff-accent: 'Big Shoulders Display', cursive;

	/* font weights */
	@each $font-weight, $value in variables.$font-weights {
		--fw-#{$font-weight}: #{$value};
	}

	/* font sizes */
	@each $screen, $sizes in variables.$font-sizes {
		@if $screen == small {
			@each $size, $value in $sizes {
				--fz-#{$size}: #{$value};
			}
		} @else {
			@include mixins.mq($screen) {
				@each $size, $value in $sizes {
					--fz-#{$size}: #{$value};
				}
			}
		}
	}

	/* spacers */
	@each $unit, $sizes in variables.$spacers {
		@each $size, $value in $sizes {
			--spacer-#{$unit}-#{$size}: #{$value};
		}
	}

	--container-spacer: clamp(var(--spacer-rem-200, 1em), -1.75rem + 7.5vw, var(--spacer-rem-500, 3em));
}
