$breakpoints: (
	small: 36rem,
	medium: 48rem,
	large: 62em,
);

$colors: (
	primary: (
		400: hsl(24 56% 63%),
	),
	neutral: (
		100: hsl(0 0% 100%),
		400: hsl(0 0% 27%),
		700: hsl(0 0% 8%),
	),
);

$font-sizes: (
	small: (
		300: 1.6rem,
		400: 1.8rem,
		500: 2rem,
		600: 3.2rem,
		700: 5rem,
		800: 5rem,
		900: 6rem,
	),
	medium: (
		800: 5.5rem,
		900: 7rem,
	),
	large: (
		300: 1.8rem,
		400: 2.2rem,
		600: 3.6rem,
		700: 6rem,
		800: 7rem,
		900: 9.6rem,
	),
);

$font-weights: (
	400: 300,
	700: 900,
);

$spacers: (
	em: (
		300: 1.2em,
		400: 1.5em,
	),
	rem: (
		100: 1rem,
		200: 1.6rem,
		300: 2.4rem,
		375: 3rem,
		400: 3.2rem,
		450: 3.6rem,
		475: 3.8rem,
		500: 4rem,
		600: 4.8rem,
		700: 5.6rem,
		800: 6.4rem,
		900: 8rem,
	),
);
