@use '../abstracts/mixins' as mxn;
@use '../layout/container';

.primary-header {
	--text-content-spacer: var(--spacer-rem-400);
	--layer-1: 5000;
	--layer-2: 4000;
	--layer-3: 3000;
	--layer-4: 2000;

	display: grid;
	gap: var(--spacer-rem-400);
	@include mxn.mq(medium) {
		--text-content-spacer: var(--spacer-rem-600);
		grid-template-columns: repeat(2, 1fr);
	}
	@include mxn.mq(large) {
		--text-content-spacer: var(--spacer-rem-800);
		grid-template-columns: 1fr;
	}

	/* container for the image */
	&__image-container {
		display: grid;
		justify-content: center;
		@include mxn.mq(medium) {
			justify-content: start;
			/* span all columns of the first row */
			grid-column: 1 / -1;
			grid-row: 1;
		}
		@include mxn.mq(large) {
			position: relative;
			justify-self: center;
			justify-content: center;
			/* make only one column */
			grid-column: 1;

			/* black 'background' to the left of the image */
			&::before {
				content: '';
				position: absolute;
				z-index: var(--layer-2);
				background-color: var(--clr-neutral-700);
				height: 100%;
				width: 100vmax;
				left: 0;
				top: 0;
				transform: translateX(-100%);
			}
		}
	}

	&__container {
		position: relative; // so content does not hide behind image container
		@extend .container;
		@include mxn.mq(medium) {
			--padding-inline: 0; // override .containers variable
			/* be on the second column and the first row (the same as image) */
			grid-column: 2;
			grid-row: 1;
			padding-block: clamp(14.5rem, 15vw, 18rem);
			padding-inline-end: var(--container-spacer);
		}
		@include mxn.mq(large) {
			--padding-inline: var(--container-spacer); // bring back 'default' value
			/* be on the same cell as image container (first row and column) */
			grid-column: 1;
			grid-row: 1;
			padding-inline-end: 0;
		}
	}

	/* container for the heading, text and button */
	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--text-content-spacer);
		@include mxn.mq(large) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	/* text and button container */
	&__text-content {
		@include mxn.mq(large) {
			max-width: 35rem;
		}
	}

	/* for the title layers */
	&__title-container {
		position: relative;

		/* every layer except first (h1) will be positioned behind, absolutely */
		& > :not(:first-child) {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__heading {
		font-weight: var(--fw-700, 700);
		font-family: var(--ff-accent);
		font-size: var(--fz-900);
		text-transform: uppercase;
		line-height: 0.9166;
		color: var(--clr-neutral-700);

		/* hide other layers other than first, as they are only needed for bigger screens */
		&:not([data-layer='1']) {
			display: none;
		}

		@include mxn.mq(large) {
			&[data-layer='1'] {
				position: relative; // to control z-index
				z-index: var(--layer-1);
				color: var(--clr-neutral-100);
				mix-blend-mode: difference;
			}

			/* show other layers */
			&:not([data-layer='1']) {
				display: block;
			}

			&[data-layer='2'] {
				z-index: var(--layer-3);
				color: var(--clr-neutral-700);
				mix-blend-mode: difference;
			}

			&[data-layer='3'] {
				z-index: var(--layer-4);
				color: var(--clr-neutral-100);
			}
		}
	}
}
